@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap");

.navbar {
  .c1 {
    font-size: 20px;
    padding: 10px;
  }
}
.hero {
  padding-top: 50px;
  padding-bottom: 70px;
  h1 {
    font-family: Open + Sans;
    font-size: 4rem;
    font-weight: 900;
  }
  p {
    font-size: 1.2rem;
  }
}
.bg1 {
  height: 300px;
  width: 300px;
  margin: auto;
  .outer {
    height: 100%;
    width: 100%;
    background-image: url("Media/xcm-animation-outer.svg");
    background-size: cover;
  }
  .inner {
    height: 100%;
    width: 100%;
    background-image: url("Media/xcm-animation-inner.png");
    background-size: cover;
  }
}
.btn1 {
  font-weight: 700;
  border-radius: 1.5rem;
  font-size: 16px;
  padding: 15px 28px;
  color: #e6007a;
}
.btn1-animation {
  background-color: transparent;
  border-color: #e6007a;
  border: solid 1px #e6007a;
}
.btn1-animation:hover {
  background-color: #e6007a;
  color: white;
}
.btn3 {
  font-weight: 700;
  border-radius: 1.5rem;
  font-size: 16px;
  padding: 10px 18px;
  color: white;
}
.btn3-animation {
  background-color: transparent;
  border-color: #e6007a;
  border: solid 1px #e6007a;
}
.btn3-animation:hover {
  background-color: #e6007a;
  color: white;
}
.btn4 {
  font-weight: 700;
  border-radius: 1.5rem;
  font-size: 16px;
  padding: 10px 18px;
  color: white;
}
.btn4-animation {
  background-color: transparent;
  border-color: white;
  border: solid 1px white;
}
.btn4-animation:hover {
  background-color: white;
  color: #e6007a;
}
.homenetwork {
  padding-top: 50px;
  padding-bottom: 50px;
  h4 {
    font-family: Open + Sans;
    font-weight: 900;
  }
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
  }
}
.PN {
  background-color: #172026;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  strong {
    font-size: 60px;
    font-family: Open + Sans;
    font-weight: 900;
  }
  span {
    font-size: 20px;
  }
  h3 {
    font-family: Open + Sans;
    font-weight: 900;
  }
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
  }
}
.opensourse {
  background-color: #d64ca8;
  padding-top: 50px;
  padding-bottom: 70px;
  color: white;
  h1 {
    font-size: 55px;
    font-family: Open + Sans;
    font-weight: 900;
  }
  p {
    font-size: 20px;
  }
}
.polkadotteam {
  background-image: url("Media/web3-summit-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;

  span {
    color: white;
    font-size: 60px;
    font-family: Open + Sans;
    font-weight: 900;
  }
}
.cd1 {
  padding-top: 50px;
  padding-bottom: 50px;
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 1rem 3rem rgb(52 58 64 / 18%) !important;
    margin-bottom: 0.75rem;
  }
  .card1 {
    .card-img-top {
      width: 100%;
      height: 29vh;
    }
  }
}
.involved {
  padding-top: 50px;
  padding-bottom: 50px;
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
    font-size: 60px;
  }
  p {
    font-size: 20px;
  }
}
.footer {
  background-color: #172026;
  padding-top: 30px;
  strong {
    color: white;
    font-size: 20px;
  }
  li {
    color: grey;
    padding: 6px;
    font-size: 15px;
  }
  p {
    color: white;
  }
  .btn {
    font-weight: 700;
    border-radius: 1.5rem;
    font-size: 16px;
    padding: 8px 16px;
    color: white;
  }
  .btn-animation {
    background-color: transparent;
    border-color: #e6007a;
    border: solid 1px #e6007a;
  }
  .btn-animation:hover {
    background-color: #e6007a;
  }
  .f2 {
    display: flex;
    p {
      color: grey;
      font-size: 13px;
    }
  }
}
.t-hero {
  padding-top: 70px;
  padding-bottom: 50px;
  justify-content: center;
  h1 {
    font-size: 50px;
    font-family: Open + Sans;
    font-weight: 900;
  }
}
.t-card {
  background-color: #172026;
  padding-top: 20px;
  padding-bottom: 20px;
  .card {
    margin-top: -3rem;
    border-radius: 0.375rem;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3rem rgb(52 58 64 / 20%) !important;
    margin-bottom: 0.75rem;
  }
  .card1 {
    display: flex;
    flex-direction: row;
  }
}
.t-section1 {
  padding-top: 90px;
  padding-bottom: 50px;
  background-color: #172026;
  color: white;
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
  }
  strong {
    font-family: Open + Sans;
    font-size: 20px;
  }
}
.t-network {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e6007a;
  color: white;
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
    font-size: 50px;
  }
  p {
    font-size: 20px;
  }
}
.t-ground {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e6007a;
  color: white;
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
}
.t-connecting {
  padding-top: 50px;
  padding-bottom: 50px;
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
  }
  .card {
    border: none;
    h4 {
      font-family: Open + Sans;
      font-weight: 900;
    }
  }
}
.t-consensus {
  padding-top: 50px;
  padding-bottom: 50px;
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
  }
  .card {
    border: none;
    h4 {
      font-family: Open + Sans;
      font-weight: 900;
    }
  }
}
.t-governance {
  padding-top: 50px;
  padding-bottom: 50px;
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
  }
  .card {
    border: none;
    h4 {
      font-family: Open + Sans;
      font-weight: 900;
    }
  }
}
.t-besttechnology {
  background-color: #efefef;
  padding-top: 50px;
  padding-bottom: 50px;
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
    font-size: 40px;
  }
}
.t-parachains {
  background-color: #172026;
  color: white;
  padding-top: 50px;
  padding-bottom: 70px;
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
}
.t-model {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
  }
}
.t-roadmap {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #e6007a;
  color: white;
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
}

.t-team {
  padding-top: 60px;
  padding-bottom: 60px;
  .card {
    height: 19vh;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 0.375rem;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3rem rgb(52 58 64 / 15%) !important;
  }
}
.started {
  padding-bottom: 90px;
  display: flex;
  h1 {
    font-size: 50px;
    font-family: Open + Sans;
    font-weight: 900;
  }
}
.c-hero {
  padding-top: 50px;
  padding-bottom: 70px;
  h1 {
    font-family: Open + Sans;
    font-weight: 900;
    font-size: 60px;
  }
  p {
    font-size: 22px;
  }
}
.c-card {
  background-color: #172026;
  padding-top: 20px;
  padding-bottom: 20px;
  .c1 {
    margin-top: -3rem;
  }
  .card {
    border-radius: 0.375rem;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3rem rgb(52 58 64 / 20%) !important;
  }
  .card1 {
    display: flex;
    flex-direction: row;
  }
  &hover {
  }
}
.c-testnet {
  background-color: #172026;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  h1 {
    font-family: Open + Sans;
    font-size: 50px;
    font-weight: 900;
  }
  .test-btn {
    font-weight: 700;
    border-radius: 1.5rem;
    font-size: 13px;
    padding: 3px 18px;
    color: white;
    background: transparent;
    background-color: transparent;
    border-color: #e6007a;
    border: solid 1px #e6007a;
  }
  .test-btn:hover {
    background-color: #e6007a;
  }
  p {
    font-size: 20px;
  }
}
.c-involved {
  background-color: #e6007a;
  padding-top: 90px;
  padding-bottom: 90px;
  color: #efefef;
  h1 {
    font-family: open + sans;
    font-weight: 900;
    font-size: 60px;
  }
  p {
    font-size: 20px;
  }
}
.c-validator {
  padding-top: 60px;
  padding-bottom: 60px;
  h1 {
    font-family: open + sans;
    font-weight: 900;
    font-size: 60px;
  }
  h5 {
    font-family: open + sans;
    font-weight: 900;
  }
  h2 {
    font-family: open + sans;
    font-weight: 900;
    font-size: 40px;
  }
}
.c-Eta {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
  h1 {
    font-family: open + sans;
    font-weight: 900;
  }
}
.c-upcomming {
  background-image: url("Media/web3-summit-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
  color: white;
  h1 {
    font-family: open + sans;
    font-weight: 900;
    font-size: 70px;
  }
  p {
    font-size: 20px;
  }
}
.c-question {
  padding-top: 60px;
  padding-bottom: 70px;
  h2 {
    font-family: open + sans;
    font-weight: 900;
    font-size: 50px;
  }
}
.a-hero {
  padding-top: 60px;
  padding-bottom: 60px;
  h1 {
    font-family: open + sans;
    font-size: 70px;
    font-weight: 900;
  }
}
.a-mission {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #172026;
  color: white;
  h1 {
    font-family: open + sans;
    font-weight: 900;
    font-size: 50px;
  }
  .p1 {
    font-size: 20px;
  }
}
.a-press {
  padding-top: 40px;
  padding-bottom: 40px;
  h4 {
    font-family: open + sans;
    font-weight: 900;
    font-size: 50px;
  }
}
.a-card {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 1rem 3rem rgb(52 58 64 / 18%) !important;
    margin-bottom: 2rem;
    margin-top: -1.5rem;
  }
}
.a-building {
  background-color: #e6007a;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  h1 {
    font-family: open + sans;
    font-weight: 900;
    font-size: 40px;
  }
  .p1 {
    font-size: 20px;
  }
}
.a-founder {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("Media/polkadot-founders.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    font-family: open + sans;
    font-weight: 900;
    font-size: 60px;
    color: white;
  }
}
.a-intouch {
  background-color: #172026;
  padding-top: 20px;
  padding-bottom: 20px;
  .card {
    border-radius: 0.375rem;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3rem rgb(52 58 64 / 20%) !important;
    margin-bottom: 0.75rem;
  }
  .card1 {
    display: flex;
    flex-direction: row;
  }
  h1 {
    color: #efefef;
    font-family: open + sans;
    font-weight: 900;
    font-size: 50px;
  }
  h2 {
    color: #efefef;
    font-family: open + sans;
    font-weight: 900;
    font-size: 50px;
  }
  p {
    color: #efefef;
  }
.vr{
  height: 200px;
}
}
.b-hero{
  padding-top: 60px;
  padding-bottom: 60px;
  h1 {
    font-family: open + sans;
    font-size: 70px;
    font-weight: 900;
  }
}
.b-cd2{
  padding-top: 50px;
  padding-bottom: 50px;
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 1rem 3rem rgb(52 58 64 / 18%) !important;
    margin-bottom: 0.75rem;
    
  }
    .card-img-top {
      width: 100%;
      height: 29vh;
    }
}
.b-subscribe{
  padding-top: 50px;
  padding-bottom: 70px;
  h1{
    font-family: open+sans;
    font-weight: 900;
    font-size: 50px;
  }
}
.build-hero{
  padding-top: 60px;
  padding-bottom: 60px;
  h1{
    font-family: open+sans;
    font-weight: 900;
    font-size: 65px;
  }
  p{
    font-size: 20px;
  }
}